# Python
__pycache__/
*.pyc
.pytest_cache/
.ruff_cache/
*.egg-info/
build/
dist/
.coverage
htmlcov/

# macOS
.DS_Store

# IDE
.idea/
.vscode/

# Python virtual env
venv/
.venv/

# Environment
.env

# Logs
*.log
